{% extends 'base.html' %}

<style>
        {% block style %}
            .margin
            {
                margin-left: 45px;
                margin-right: 75px;
                
            }
            
          .jumbotron {
            margin-bottom: 5rem;
            background-color: #e9ecef;
            border-radius: .3rem;
            box-shadow: gray 10px 5px 5px;
        }
        img {
        width: 60%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top:25px;
        margin-bottom: 25px;
        }
       
        {% endblock %}
    </style>

{% block content %}

<div class="jumbotron">
        <!--  Copy content here -->
      <h1 class="entry-title" itemprop="headline">Enumeration in C++</h1>
<!--<p class="entry-meta">By <span class="entry-author" itemprop="author" itemscope itemtype="https://schema.org/Person"><span class="entry-author-name" itemprop="name">Chaitanya Singh</span></span> | <span class="entry-categories">Filed Under: <a href="https://beginnersbook.com/category/learn-c/" rel="category tag">Learn C++</a></span> </p></header>--><div class="entry-content" itemprop="text"><p>Enum is a user defined data type where we specify a set of values for a variable and the variable can only take one out of a small set of possible values. We use enum keyword to define a Enumeration.</p>
<pre>enum direction {East, West, North, South}dir;</pre>
<p>Here Enumeration name is direction which can only take one of the four specified values, the dir at the end of the declaration is an enum variable.</p>
<p>Lets take a simple example to understand this:<br />
Here I have assigned the value West to the enum variable dir and when I displayed the value of dir it shows 1. This is because by default the values are in increasing order starting from 0, which means East is 0, West is 1, North is 2 and South is 3.</p>
<h2>Simple enum Example</h2>
<pre>#include&lt;iostream&gt;
using namespace std;
enum direction {East, West, North, South}dir;
int main()
{
   dir = West;
   cout&lt;&lt;dir;
   return 0;
}</pre>
<h2>Another way to declare enum variable</h2>
<p>As we have seen in the above example that I have declared the enum variable dir during enum declaration, there is another way to declare an enum variable.</p><div class="lq"><div data-type="ad" data-publisher="Beginnersbook.com" data-format="300x250" data-zone="ros" ></div></div>
<pre>#include &lt;iostream&gt;
using namespace std;
enum direction {East, West, North, South};
int main(){
   direction dir;
   dir = South; 
   cout&lt;&lt;dir;   
   return 0;
}</pre>
<p>Output:</p>
<pre>3</pre>
<h2>Why use enum in C++</h2>
<p>Now that we understand what is enum and how to use them in program, lets discuss why we use them:<br />
Enums are used only when we expect the variable to have one of the possible set of values, for example, we have a dir variable that holds the direction. Since we have four directions, this variable can take any one of the four values, if we try to assign a another random value to this variable, it will throw a compilation error. This increases compile-time checking and avoid errors that occurs by passing in invalid constants.</p>
<p>Another important place where they are used frequently are switch case statements, where all the values that case blocks expect can be defined in an enum. This way we can ensure that the enum variable that we pass in switch parenthesis is not taking any random value that it shouldn&#8217;t accept.</p>
<h2>How to change default values of Enum</h2>
<pre>#include &lt;iostream&gt;
using namespace std;
enum direction {East=11, West=22, North=33, South=44};
int main(){
   direction dir;
   dir = South;
   cout&lt;&lt;dir; 
   return 0;
}</pre>
<p><strong>Output:</strong></p>
<pre>44</pre>
<div class="bb-nav"><a class="pretut" href="/c++/funcpass">❮ Previous</a>&nbsp;&nbsp;&nbsp;<a class="nexttut" href="/c++/inherit">Next ❯</a></div>
</p></div>
</div>

{% endblock %}


