
{% extends 'base.html' %}

<style>
        {% block style %}
            .margin
            {
                margin-left: 45px;
                margin-right: 75px;
                
            }
            
          .jumbotron {
            margin-bottom: 5rem;
            background-color: #e9ecef;
            border-radius: .3rem;
            box-shadow: gray 10px 5px 5px;
        }
        img {
        width: 60%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top:25px;
        margin-bottom: 25px;
        }
       
        {% endblock %}
    </style>

{% block content %}

<div class="jumbotron">
        <!--  Copy content here -->
     	 <h1 class="entry-title" itemprop="headline">TreeSet Class in Java with example</h1>
<div class="entry-content" itemprop="text"><p><code>TreeSet</code> is similar to HashSet except that it sorts the elements in the ascending order while HashSet doesn&#8217;t maintain any order. TreeSet allows null element but like HashSet it doesn&#8217;t allow. Like most of the other collection classes this class is also not synchronized, however it can be synchronized explicitly like this: <code> SortedSet s = Collections.synchronizedSortedSet(new TreeSet(...));</code></p>
<p>In this tutorial we are going to see TreeSet example and the difference between TreeSet and other similar collection classes.</p>
<h2>TreeSet Example:</h2>
<p>In this example we have two TreeSet (<code>TreeSet&lt;String&gt;</code> &amp; <code>TreeSet&lt;Integer&gt;</code>). We have added the values to both of them randomly however the result we got is sorted in ascending order.</p>
<pre>import java.util.TreeSet;
public class TreeSetExample {
     public static void main(String args[]) {
         // TreeSet of String Type
         TreeSet&lt;String&gt; tset = new TreeSet&lt;String&gt;();

         // Adding elements to TreeSet&lt;String&gt;
         tset.add("ABC");
         tset.add("String");
         tset.add("Test");
         tset.add("Pen");
         tset.add("Ink");
         tset.add("Jack");

         //Displaying TreeSet
         System.out.println(tset);

         // TreeSet of Integer Type
         TreeSet&lt;Integer&gt; tset2 = new TreeSet&lt;Integer&gt;();

         // Adding elements to TreeSet&lt;Integer&gt;
         tset2.add(88);
         tset2.add(7);
         tset2.add(101);
         tset2.add(0);
         tset2.add(3);
         tset2.add(222);
         System.out.println(tset2);
    }
 }</pre>
<p>Output: You can see both the TreeSet have been sorted in ascending order implicitly.</p><div class="lq"><div data-type="ad" data-publisher="Beginnersbook.com" data-format="300x250" data-zone="ros" ></div></div>
<pre>[ABC, Ink, Jack, Pen, String, Test]
[0, 3, 7, 88, 101, 222]</pre>
<div class="bb-nav"><a class="pretut" href="/java/hashset">❮ Previous</a>&nbsp&nbsp&nbsp<a class="nexttut" href="/java/linkhash">Next ❯</a></div>
</div><footer class="entry-footer"><p class="entry-meta"></p></footer></article><div class="after-entry" class="widget-area"><section id="custom_html-41" class="widget_text widget widget_custom_html"><div class="widget_text widget-wrap"><div class="textwidget custom-html-widget"><!-- 728x90/300x250/320x50 --><div id="waldo-tag-3340"></div></div></div></section>
</div>
</div>

{% endblock %}

